@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap');

/* ========== GLOBAL STYLES ========== */
body {
  background-color: #F7F8FA;
  color: #000000;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  margin: 0 auto; /* top-bottom & sides */
  padding: 0;
}

.content-wrap {
  padding-left: 15%;
  padding-right: 15%;
}

/* --- LINK --- */
a {
  color: #717175;
  transition: all 0.3s ease 0s; /* smooth transition to hover color */
}
a:hover {
  color: #0088a9;
}

h1 {
  text-align: center;
}

h2 {
  text-align: left;
  font-size: 30px;
}

/* ========== HEADER STYLES ========== */
header {
  background-color: #24252A;
  box-sizing: border-box;
  padding: 10px 5%; /* top-bottom & sides */

  display: flex;
  justify-content: space-between; /* push left & right to far edges; middle item evenly spaced between */
  align-items: center; /* center everythin on another */
}

header .header__logo {
  font-weight: 500;
  font-size: 20px;
  color: #edf0f1;
  text-decoration: none;
}

header li, header a {
  font-weight: 500;
  font-size: 20px;
  color: #edf0f1;
  text-decoration: none;
}

.nav__social-icon {
  font-weight: 500;
  font-size: 27px;
  color: white;
}

header ul {
  list-style: none;
}

header li {
  display: inline-block;
  padding: 0 15px;
}

header li a {
  transition: all 0.3s ease 0s; /* smooth transition to hover color */
}
header li a:hover {
  color: #0088a9;
}

header .active {
  padding: 50px, 50px;
  background-color: rgba(0, 136, 169, 1);
  background-size: 20px;
  border: none;
  border-radius: 50px;
}

.active{
  padding: 5px 20px;
}

header .active a:hover {
  color: lightgray;
}

/* ========== INTRO STYLES ========== */
.intro {
  text-align: left;
}

.intro-hello {
  color: rgb(0, 136, 169, 1);
  font-size: 24px;
  font-weight: 500;
}
.intro-name {
  font-size: 80px;
  font-weight: 800;
  letter-spacing: normal;
}
.intro-bio {
  font-size: 24px;
  font-weight: 500;
  padding-right: 40%
}


/* ========== ABOUT ME STYLES ========== */
.about-me {
  margin: auto;
}

.about-me p,  .about-me li {
  color: #717175;
}

.side-by-side {
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
}

/* Narrow View */
@media (max-width: 550px) {
  .side-by-side {
    display: block;
  }
  p {
    position: relative;
  }
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
}

/* ========== WHAT I DO STYLES ========== */

.activity-grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1rem 1rem;
  gap: 1rem 1rem;
}

.activity-card {
  padding: 1em;
  background-color: #fff;
  position: relative;
  box-shadow: 0 10px 30px -15px rgb(0 0 0 / 20%);
  border-radius: 10px;
  border: 1px solid hsla(0, 0%, 82.7%, 0.397);
  text-align: center;
  color: #000;
}

.activity-card img {
    width: 5rem;
    height: 5rem;
}

.activity-card h3 {
  color: #0088a9;
}

.activity-card p {
  color: #717175;
}

/* ========== EXPERIENCES STYLES ========== */

.experiences-grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(290px,1fr));
  grid-gap: 1rem 1rem;
  gap: 1rem 1rem;
}

.experience-card {
    background-color: #fff;
    position: relative;
    box-shadow: 0 10px 30px -15px rgb(0 0 0 / 20%);
    border-radius: 10px;
    border: 1px solid hsla(0,0%,82.7%,.397);
}

.experience-banner {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 150%;
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.5));
    border-radius: 10px 10px 0 0;
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
    height: 11rem;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: center;
    justify-content: center;
}

.experience-company-name {
    position: absolute;
    background: transparent;
    height: 9rem;
    top: 0;
    left: 0;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.experience-company-name-text {
    padding: 1.5rem;
    margin: 0;
    color: #fff;
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.experience-company-name-text {
    font-size: 25px;
}

.experience-roundedimg {
    position: absolute;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 7rem;
    margin-left: auto;
    margin-right: auto;
    width: 8rem;
    height: 8rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 30%);
    border-radius: 50%;
}

.experience-text-role {
    text-align: center;
    color: #000;
    font-weight: 700;
    font-size: 25px;
    margin: 0;
    padding-top: 1.5rem;
    line-height: normal;
}

.experience-text-details {
    padding: 1.5rem;
    margin-top: 2rem;
}

.experience-text-date-loc {
    text-align: center;
    color: #000;
    font-size: 16px;
    margin: 0;
    padding-top: 1rem;
    font-weight: 600;
}

.experience-text-desc {
    text-align: center;
    color: #717175;
}


/* ========== EDUCATION STYLES ========== */

.education-card {
  border-radius: 10px;
  box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%);
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.5rem;
}

.education-card-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
}

.education-card-row-pic {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
  flex: 0 0 25%; */
  max-width: 25%;
  padding-top: 1.5rem;
}

.education-card-row-pic img {
  width: 80px;
  height: auto;
}

.education-card-row-text {
  padding-left: 0.5rem;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.education-card-row-text h5 {
    font-size: 16px;
    margin: 0;
    padding-top: 1rem;
    font-weight: 600;
}



/* ========== GET IN TOUCH STYLES ========== */
.get-in-touch {
  text-align: center;
}

.get-in-touch p {
  margin: auto;
  width: 60%;
}


.contact-me {
  margin: auto;
  display: grid;
  max-width: 70%;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
}

.contact-me .btn {
  background: #24252a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 1.5rem;
  border-radius: 0.2rem;
  color: #fff;
  transition: filter 0.3s;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px 10px;
  text-decoration: none;
  transition: all 0.3s ease 0s; /* smooth transition to hover color */
}

.contact-me .btn:hover {
  color: #0088a9;
}






/* ========== PHOTO STYLES ========== */
